DATABASE_URL="postgresql://postgres:postgres@localhost:5432/fashionshop?schema=public"
JWT_SECRET="change-me"
PORT=3000

# Storage Driver: local | memory | cloudinary
STORAGE_DRIVER=local
UPLOAD_DIR=uploads
APP_URL=http://localhost:3000

# Cloudinary (Optional, khi dùng STORAGE_DRIVER=cloudinary)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=fashionshop

# Mailpit / SMTP Settings
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Fashion Shop <no-reply@fashionshop.com>"

# SMS Settings
SMS_PROVIDER=mock

# VietQR / Bank Settings
VIETQR_BANK_BIN=970422
VIETQR_BANK_ID=MB
VIETQR_BANK_NAME="MBBank (Ngan hang Quan Doi)"
VIETQR_ACCOUNT_NO=0987654321
VIETQR_ACCOUNT_NAME="FASHION SHOP OFFICIAL"
VIETQR_TEMPLATE=compact2
VIETQR_WEBHOOK_API_KEY=sepay-secret-api-key-123
